@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import '~@fortawesome/fontawesome-free/css/all.min.css';
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  h1 { @apply text-3xl font-bold; }
  h2 { @apply text-2xl font-bold; }
  h3 { @apply text-xl  font-bold; }
}

html {
  /* font-family: 'Lato', sans-serif !important; */
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  place-items: top;
  /* margin: 0 30%; */
  width: 700px;
  /* min-width: 320px;
  min-height: 100vh; */
}
