@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Imports */
  @import '~@fortawesome/fontawesome-free/css/all.min.css';
  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

  /* HTML Tags Styling */
  h1 { @apply text-3xl font-bold; }
  h2 { @apply text-2xl font-bold; }
  h3 { @apply text-xl  font-bold; }

  /* Custom Classes */
  .publicationAnimations { @apply shadow-xl translate-x-2 translate-y-2 transition-all; }
}

html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  place-items: top;
  width: 700px;
}
